.style-creator-tables{
    position: absolute;
    /*width: 80%;*/
    top:10%;
    left: 10%;
    background: #727272;
}

.show-table{
    display: block;
}
.hide-table{
    display: none;
}