
.show-menu{
    display: block;
}
.hide-menu{
    display: none;
}


.style-btn-add-menu-table{
    width: 100%;
    background: #e0e0e0;
    border-radius: 10px;
    border: 1px solid rgba(26, 134, 241, 0);
    box-shadow: 1px 1px 2px 2px #ccc
}

.style-btn-add-menu-table:hover{
    border-color: rgba(80, 80, 80, 0.2);
    transition: 0.2s;
}
.style-menu-component{
    position: relative;
    width: 100%;
    left:5%;
    /*background: rgba(114, 114, 114, 0.19);*/
    border-radius: 10px;
}

