.dockpanel{
    position: absolute;
    width: 30%;
    background-color: #7a7a7a;
    top:2px;
    left:53%;

}

.dockpanel .btnFunc {
    background-color: #7a7a7a; /* Green background */
    color: white; /* White text */
    padding: 9px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-color: #383838;
}

.fetchDate{
    margin: 5px 5px 5px 5px;
    font-size: 19px;
    font-family: inherit;
    padding: 0.4em 2.5em;
    background-color: #fff;
    border: 0px solid;
    border-radius: 10px;
    transition: 180ms box-shadow ease-in-out
}

/* Clear floats (clearfix hack) */
.dockpanel:after {
    content: "";
    clear: both;
    display: table;
}

.dockpanel .btnFunc:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.dockpanel .btnFunc:hover {
    background-color: #335efc;
    border-radius: 10px;
}