.style-btn-component{
    width: 100%;
    background: rgba(224, 224, 224, 0.7);
    border-radius: 10px;
    border: 1px solid rgba(26, 134, 241, 0);
    box-shadow: 1px 1px 1px 1px rgba(204, 204, 204, 0.37);

}
.style-btn-component:hover{
    border-color: rgba(80, 80, 80, 0.2);
    transition: 0.2s;
}