#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align:center;
    font-size: 64px;
    width:28.2%;
    margin-top: 5px;
    color: #ffffff;
    padding: 20px;
    left: 70.75%;
    background: #333;
    border-radius: 10px;
    position:absolute;
    top: 6.5%;
    box-shadow:2px 2px 3px 3px #ccc;
    border-left: 3px solid #335efc;
  }