.personal-dock{
    display: block;
    position: absolute;
    width: 28.2%;
    height: 205px;
    top: 75%;
    right: 1%;
    color: #ffffff;
    background: #333;
    box-shadow:2px 2px 3px 3px #ccc;
    border-radius: 10px;
    border-left: 3px solid #335efc;
    /*z-index: 3;*/
}

.personal-block{
    margin-top: 2%;
    margin-bottom: -4%;

}
.personal-icon{
    position: absolute;
    display: inline;
    border: 3px solid #ffffff;
}
.personal-text{
    position: absolute;
    display: inline;
}
.personal-link {
    position: absolute;
    display: inline;
    border-top: 3px solid #ffffff;
}
