.menu{
    position:absolute;
    display: block;
    height: 90%;
    overflow-y: scroll;
}
.menu::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
.menu::-webkit-scrollbar-track {
  background: #333;        /* цвет дорожки */
}
.menu::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;    /* цвет плашки */
  border-radius: 3px;       /* закругления плашки */
  border: 3px solid #a1a1a1;  /* padding вокруг плашки */
}

.icon-table{
    display: block;
    /*position: absolute;*/
    /*top: -1.6%;*/
    /*margin-left: 45%;*/
    /*margin-right: 55%;*/
}
.link-text{
    font-size: 14px;
}

/*All conteiner*/
.conteiner_all{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.conteiner_p{
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 15px;
    cursor: move;
}
.conteiner_p.over {
    border: 3px dotted #666;
}

