.menu{
    position:absolute;
    display: block;
    height: 90%;
    overflow-y: scroll;
}
.menu::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
.menu::-webkit-scrollbar-track {
  background: #333;        /* цвет дорожки */
}
.menu::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;    /* цвет плашки */
  border-radius: 3px;       /* закругления плашки */
  border: 3px solid #a1a1a1;  /* padding вокруг плашки */
}

.icon-table{
    display: block;
    /*position: absolute;*/
    /*top: -1.6%;*/
    /*margin-left: 45%;*/
    /*margin-right: 55%;*/
}
.link-text{
    font-size: 14px;
}

/*All conteiner*/
.conteiner_all{
    position: absolute !important;
    display: block;
    width: 98%;
    height: 94%;
    margin: 10px 20px ;
    float: left !important;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
}

.conteiner_all::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}
.conteiner_all::-webkit-scrollbar-track {
  background: #333;        /* цвет дорожки */
}
.conteiner_all::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;    /* цвет плашки */
  border-radius: 3px;       /* закругления плашки */
  border: 3px solid #a1a1a1;  /* padding вокруг плашки */
}

.conteiner_p{
    display: block;
    width: 50%;
    cursor: move;
}
.conteiner_p.over {
    border: 3px dotted #666;
}

